/* Colour of the fill in the box */
.container-white{
	background-color: white;
}

/*Margin of container*/
#about{
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Margin of container*/
#philosophy{
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Margin of container*/
#management{
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*Margin of container*/
#team{
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}