#current-listing-box{
	padding-right: 0px; 
	padding-left: 25px; 
	margin-left: 35px
}

/*#current-listing-box{
	padding-right: 0px; 
	padding-left: 25px; 
	margin-left: 35px
}*/

#button-color{
	background-color: #800080;
}

#centering{			/* Centers the stuff*/
	text-align: center;
	margin: auto;
}

#submit{			/* Controls the size of the submit button*/
	width: 100%;
	height: 30px;
	background-color: #800080;
	color: white;
}

body {
    background-color: lightgrey;
}

#line-size{
	border-left-color: lightgrey; 
	border-left-style: solid;
}

@media screen and (max-width: 993px) {
    #line-size{
        border-left-color: white;
    }
}


/* Colour of the fill in the box */
.container-white{
	background-color: white;
}

/*Size of the button*/
#button-size{
	width: 100%;
	height: 30px;
	background-color: purple;
}

/*Size of dropdown menu*/
#drop-size{
	width: 470px;
	height: 30px;
	text-align: center;
}

#Vertical{
	border-right-color: lightgrey;
	border-right-style: solid;
	height:600px; 
	width:100px;
}

#Vertical-white{
	border-right-color: white;
	border-right-style: solid;
	height:50px; 
	width:100px;
}

.dropdown-menu {
    margin: 0px;
    width: 100%;
    text-align: center;

}

.icon-icon{
	margin-top: 35px;
}



#reshape{
	color:white;
	font-size:16px;
	margin-top: 20%;
    margin-right: 55%;
    margin-left: 12%;
}

/*@media screen and (max-width: 750px) {
	#reshape{
		padding: 0% 0% 0% 0%;
		font-size: 10px;
	}
}*/

@media screen and (max-width: 350px) {
	#reshape{
		padding: 0% 0% 0% 0%;
		margin: 0% 0% 0% 0%;
		font-size: 10px;
	}
}

#overlay{
	color:white; 
	font-size: 1em;
	background: rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 750px) {
	#overlay{
		font-size: 10px;
	}
}




/*
@media screen and (max-width: 780px) {
    #house-text{
		padding: 0% 0% 0% 0%;
    }
*/
/*Text on image at the bottom*/
/*#text-box{
	margin: 20% 50% 0% 10%;
	padding: 2% 2% 10% 2%;
	width: 30%;
    height: 30%;
    overflow: hidden;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.35); 
	color: white;

}*/

/*@media screen and (max-width: 780px) {
    #text-box{
		margin: 00% 0% 0% 0%;
		width: 100%;
	    height: 100%;
	    overflow: hidden;
	    font-size: 1em;
	    background: rgba(0, 0, 0, 0.35); 
		color: white;
    }
}*/

#final-image{
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 70%; 	/* (img-height / img-width * container-width) */
}

.section-heading{
	font-weight: 300;
}
.section-texts{
	color:#64686D !important;
}
.form-group>label{
	font-weight: 400;
}